@import url("./variable.css");

.nav-bar {
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.nav-bar .btn {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.nav-search-action {
    position: relative;
    border-radius: 0.25rem;
    width: 50%;
    margin-bottom: 0;
}

.search-input {
    width: 100%;
    font-size: 0.875rem;
    padding: 0.5rem;
    padding-left: 2rem;
    border-radius: 0;
    height: 1rem;
}

.nav-search-action  .search-icon {
    top: 0.4rem;
    border: none;
    position: absolute;
    color: var(--primary-color);
    height: 1rem;
}

.nav-search-action .left {
    left: 0.5rem;
}

.nav-search-action .right {
    right: 0.75rem;
}

.nav-search-action .search-icon:last-child {
    cursor: pointer;
}

.nav-menu {
    background-color: var(--tertiary-color);
    position: fixed;
    width: 100%;
    top: 3.5rem;
}

.search-item-list {
    width: 50%;
    padding-right: 0.5rem;
}

.search-item {
    width: auto;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 0.5rem;
    cursor: pointer;
    font-size: 0.875rem;
}

.search-item:hover {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
}

@media only screen and (max-width: 700px) {
    .nav-search-action {
        width: 75%;
    }
    
    .search-item-list {
        width: 75%;
    }
}